.about{
    position: relative;
    top: inherit;
    bottom: inherit;
    width: 100%;
    min-height: 550px;
    z-index: -5;
    font-family: 'Proxima Nova Rg';

    &__blocks{
        display: flex;
        flex-flow: row nowrap;
    }
        
    &__intro{
        height: 700px;

        &0{
            width: 35%;
            background-color: rgb(235, 233, 233);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        &_title{
            font-size: 60px;
            font-weight: 700;
            color: rgb(71, 71, 71);
            text-align: left;
            width: 75%;
            margin-bottom: 25px;
        }

        &_paragraph{
            font-size: 15px;
            font-weight: 100;
            color: rgb(126, 126, 126);
            text-align: left;
            width: 75%;
            margin-bottom: 25px;
        }

        &1{
            background-image: url(../../../assets/img/girl_about_page.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 65%;
            margin-left: 10px;
        }

        
    }

}