@import './home_page.scss';
@import './variables.scss';
$goodsItemHeight: 375px;
$goodsPrice: '\0a ___ \0a 00,00$';
$bestSeller: 'Best Seller';

.shop{
    position: relative;
    top: inherit;
    bottom: inherit;
    width: 100%;
    min-height: 1000px;
    z-index: -5;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Proxima Nova Rg';

    &__blocks{
        width: 100%;
        min-height: 500px;

        &0{
            display: flex;
            flex-flow: row nowrap; 
            height: 750px;
 
                    
        }
        
        &1{
            min-height: 1000px;
            display: flex;
            flex-flow: row nowrap;
        }
    }

    &__intro{
        height: 100%;

        &0{
            width: 35%;
            background-color: rgb(235, 233, 233);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        &1{
            width: 65%;
            background-image: url(../../../assets/img/shop__intro__img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 10px;
        }
    }

    &__title{
        display: flex;
        justify-content: center;
    }

    &__goods{
        height: $goodsItemHeight - 2px;
        width: 22.5%;
        margin-left: 10px; 
        margin-right: 10px;
        display: flex; 
        flex-flow: column nowrap;
        font-family: 'Proxima Nova Rg';
        position: relative;
        &_items-1-{
            width: 100%;
            position: relative;
            
            &0{
                background-image: url(../../../assets/img/bra1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;         

            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;


                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-2-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/bra2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $newArrivalContent;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top: $itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
               
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-3-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/bra3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;


                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-4-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/bra4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $bestSeller;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-5-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/legins1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $newArrivalContent;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-6-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/legins2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-7-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/legins3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $bestSeller;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-8-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/legins4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-9-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/shirt1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $newArrivalContent;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-10-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/shirt2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-11-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/shirt3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-12-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/shirt4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-13-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/short1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $newArrivalContent;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-14-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/short2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-15-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/short3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                &::after{
                    content: $bestSeller;
                    position: $newArrivalPosition;
                    top: $newArrivalTop;
                    left: $newArrivalLeft;
                    background-color: $newArrivalBackground-color;
                    text-align: $newArrivaltext-align;
                    vertical-align: $newArrivalVertical-align;
                    width: $newArrivalWidth;
                    height: $newArrivalHeight;
                    color: $newArrivalcolor;
                    font-size: $newArrivalfont-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

        &_items-16-{
            width: 100%;
            position: relative;

            &0{
                background-image: url(../../../assets/img/short4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 75%;  
                // &::after{
                //     content: $newArrivalContent;
                //     position: $newArrivalPosition;
                //     top: $newArrivalTop;
                //     left: $newArrivalLeft;
                //     background-color: $newArrivalBackground-color;
                //     text-align: $newArrivaltext-align;
                //     vertical-align: $newArrivalVertical-align;
                //     width: $newArrivalWidth;
                //     height: $newArrivalHeight;
                //     color: $newArrivalcolor;
                //     font-size: $newArrivalfont-size;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }

            &1{
                visibility: hidden;
                position:absolute;
                top:$itemGoodsPosAbsTop;
                left:0;
                height: $itemGoodsHeigthSecBl;
                display: $displayFlex;
                align-items: $alignCenter;
                justify-content: $justifyCenter;
                font-family: 'Proxima Nova Rg';
                font-weight: 300;
                font-size: 15px;
                background-color: $itemGoodsBCGColor;
                
            }

            &2{
                height: $itemGoodsHeight;
                text-align: $itemGoodsText-align;
                font-size: $itemGoodsFont-sixe;
                color: $itemGoodsFont-color;

                &::after{
                    content: $goodsPrice;
                    white-space: pre;
                    font-size: $itemGoodsFonts-sizePrice;
                }
            }
        }

    }

    &__catalogue{
        height: 100%;
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        margin: 10px 0;

        &0{
            width: 20%;
            min-height: 350px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 50px;
        }
        &1{
            width: 80%;
            display: flex;
            flex-flow: row wrap;
        }

    }

}

.catalogue{

    &__filterBy{
        font-weight: 300;
        font-size: 27.5px;
        color: rgba(41, 41, 41, 0.808);
        min-height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(175, 175, 175);
        width: 195px;
    }

    &__span{
        font-weight: 100;
        font-size: 15.5px;
        color: rgba(73, 73, 73, 0.808);
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(175, 175, 175);
        width: 195px;

        &::after{
            content: '\271A';
            font-weight: 100;
        }
    }

}

.hidden{
    display: none;
}

.open{
    display: block;
}

@media (max-width:775px){
    .shop{
        position: relative;
        top: inherit;
        bottom: inherit;
        width: 100%;
        min-height: 1000px;
        z-index: -5;
        display: flex;
        flex-flow: column nowrap;
        font-family: 'Proxima Nova Rg';
    
        &__blocks{
            width: 100%;
            min-height: 500px;
    
            &0{
                display: flex;
                flex-flow: column-reverse nowrap; 
                height: 750px;
     
                        
            }
            
            &1{
                min-height: 1000px;
                display: flex;
                flex-flow: column nowrap;
            }
        }

        &__intro{
    
            &0{
                width: 100%;
                background-color: rgb(235, 233, 233);
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
    
            &1{
                width: 100%;
                background-image: url(../../../assets/img/shop__intro__img.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: 0;
            }
        }

        &__catalogue{
            &0{
                min-height: 50px;
                width: 100%
            }

            &1{
                width: 100%;
                min-height: 1500px;
                display: flex;
                flex-flow: column nowrap;

                &::after{
                    content: '';
                }
            }

        }

        &__goods{
            height: 450px;
            width: 80%;
            margin-left: 40px; 
            margin-right: 20px;
            display: flex; 
            flex-flow: column nowrap;
            font-family: 'Proxima Nova Rg';
            position: relative;

            &1{
                display: none;
            }
            &0{
                display: none;
            }
            &3{
                display: none;
            }
            &6{
                display: none;
            }
            &7{
                display: none;
            }
            &5{
                display: none;
            }
            &10{
                display: none;
            }
            &11{
                display: none;
            }
            &9{
                display: none;
            }
            &14{
                display: none;
            }
            &15{
                display: none;
            }
            &13{
                display: none;
            }
        }   
    }

    .catalogue{

        &__filterBy{
            font-weight: 300;
            font-size: 17.5px;
            color: rgba(41, 41, 41, 0.808);
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(175, 175, 175);
            width: 285px;
        }

        &__filters{
            display: none;
            
        }
    
        &__span{
            font-weight: 100;
            font-size: 15.5px;
            color: rgba(73, 73, 73, 0.808);
            min-height: 70px;
            display: hidden;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgb(175, 175, 175);
            width: 195px;
    
            &::after{
                content: '\271A';
                font-weight: 100;
            }
        }
    
    }
}