// Standard variables 
$introHeight: 700px;
$sectionHeight:600px;
$latestHeight:200px;
$goodsHeight: 500px;
$girlsHeight: 275px;
$followHeight:275px;
$sectionImgMargin: 10px 5px 10px 10px; 
$itemGoodsHeight: 25%;
$itemGoodsFont-family: 'Proxima Nova Rg';
$itemGoodsText-align: center;
$itemGoodsFont-sixe: 1.2em;
$itemGoodsFont-color: rgb(73, 73, 73);
$itemGoodsPosAbsTop:350px;
$itemGoodsBCGColor: white;
$itemGoodsHeigthSecBl: 50px;
$itemGoodsFonts-sizePrice:0.80em;
$newArrivalContent: 'New Arrival';
$newArrivalPosition: absolute;
$newArrivalTop: 0;
$newArrivalLeft: 0;
$newArrivalBackground-color: rgba(73, 73, 73, 0.658);
$newArrivaltext-align: center;
$newArrivalVertical-align: baseline;
$newArrivalWidth: 35%;
$newArrivalHeight: 7%;
$newArrivalcolor: white;
$newArrivalfont-size: 0.95em;
$displayFlex: flex;
$alignCenter: center;
$justifyCenter: center;
$padding-top5PX: 10px;
$emailElemsWidth: 200px;
$emailElemsPoition: relative;
$emailElemsTop: -25px;

// Variables for screen less than 775px;

$sectionHeightSmallScren:1500px;
$goodsHeightSmallScren:1600px;
$girlsHeightSmallScren:350px;
$latestHeightSmallSize:125px;